header {    
    width: 100%;
    background-color: rgb(46, 46, 193);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px; 
}


header img {
    max-width: 20%;    
    height: auto;
    margin-right: 20px; 
}

header h1 {
    flex-grow: 1; 
    text-align: center;
    color: white; 
    font-size: 60px; 
}

button{
    background-color: transparent;
    border: 2px solid black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-left: 0; 
}
main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid;
    background-color: #ccc
}
.contenedorImagenes{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contenedorImagenes img{
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}
.formulario{
    width: 50%;
    margin-left: 10px;
    display: flex;
    
    
}
fieldset{
    width: 100%;
    border: 3px solid;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    /* flex-direction: row;
    flex-wrap: wrap;
    align-items: center; */
}
legend{
    display: flex;
    font-weight: bold;
    flex-direction: column;
}
label{   
    margin-right: 20px;
    margin-bottom: 2px;
    padding: 3px;
}
input,
textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid #000000;
}